nav {
  padding: 30px;
  background-image: url("https://images.unsplash.com/photo-1611948983382-631eaeec6069?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2839&q=80");
}
nav a {
  font-weight: bold;
  color: #2c3e50;
}